<form name="createProduct">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3 form-group">
				<label class="control-label">Product Name</label>
				<input class="form-control" type="text" ng-model="vm.product.name" required/>
			</div>
			<div class="col-md-3 form-group">
				<label class="control-label">Unit Price</label>
				<input class="form-control" type="text" ng-model="vm.product.unitPrice" required />
			</div>
			<div class="col-md-3 form-group">
				<label class="control-label">Product Code</label>
				<input class="form-control" type="text" ng-model="vm.product.productCode" required />
			</div>
			<div class="col-md-3 form-group">
				<label class="control-label">Category</label>
				<div>{{vm.categoryName}}</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-6">
				<button class="btn btn-success" ng-disabled="createProduct.$invalid" ng-click="vm.addProduct();">Save</button>
			</div>
		</div>
	</div>
</form>